<h1>
 netbook /  sign in
</h1>
<form action="/users/signin" method="post">
    
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    
    
    <input type="submit" value="SignIn">
    </form>
